
.container {
    min-height: 100vh;
}
.card-img-top {
    height: 150px;
    min-width: 305px;
}
.cards{
    max-width: 350px;
    
    /* padding-left: 20px; */
}
.card-title {
    text-align: center;
}

.botón {
    text-align: center;
}
.card-footer{

    width: 100%;
}

.cardd {
    background: rgb(228, 225, 225);
    border-radius: 7px;
}

.container1{
    width: 1200px;
    margin: auto;
    margin-top: 35px;
    flex-grow: 1;
}

h2.card-title{
    font-size: 80px;
    margin-top: 30px;

}
.card-body {
    margin-bottom: 30px;
    padding-bottom: 80px;
}

.row {
    margin-bottom: 50px;
}